<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906059093970-qfr4hcucdhncn6suicpkv879l6g65ad3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906059093970-qfr4hcucdhncn6suicpkv879l6g65ad3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>906059093970-4b78mar6g0ljevbe280nktrqmv3tqrec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrrM292cEMvNczHba6caMP-ZAIOK96HGg</string>
	<key>GCM_SENDER_ID</key>
	<string>906059093970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>offroadist.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>offroadist-whatsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>offroadist-whatsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906059093970:ios:36ddc6cb9c45d7d3115a0b</string>
</dict>
</plist>